.bbr-icon {
    transition: 0.15s ease-in-out color;
    font-size: 1rem;

    &.is-small {
        font-size: 0.85rem;
    }
    &.is-medium {
        font-size: 1.25rem;
    }
    &.is-large {
        font-size: 2rem;
    }

    &--right {
        margin-left: 0.5rem;
    }
    &--left {
        margin-right: 0.5rem;
    }
}
