.is-checkradio.m-check-radio[type="checkbox"] {
    &.has-background-color.m-has-background-color:not(:checked) + label::before {
        border-color: #dbdbdb !important;
        background-color: transparent !important;
    }

    &.is-block + label.is-empty {
        &::before {
            left: 0.25rem !important;
            top: 0.25rem !important;
        }

        &::after {
            top: 0.45rem;
            left: 0.7rem;
        }
    }

    &:not(.is-block) + label {
        &::after {
            top: 0.275rem;
        }
    }

    & + label.is-empty {
        padding-left: 1rem;
        margin: 0 !important;
    }
}
