.bbr-date-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__input {
        cursor: pointer;
        font-variant-numeric: tabular-nums;
    }

    &__calendar {
        padding: 0;

        .bbr-calendar {
            border: none;
            box-shadow: none;
        }
    }
}
