.bbr-password {
    &:focus ~ .icon:not(:hover) {
        color: rgb(219, 219, 219) !important;
    }

    &__wrapper {
        .icon {
            pointer-events: inherit !important;
            cursor: pointer;

            &:hover {
                color: rgb(74, 74, 74);
            }
        }
    }
}
