$color-gray: rgba(gray, 0.25);
$color-gray-light: rgba(gray, 0.5);
$color-gray-lighten: rgba(gray, 0.25);

$color-link: #485fc7;

$transition-duration: 0.125s;
$transition-fn: ease-in-out;
$transition: $transition-duration $transition-fn;
