.container {
    position: relative;
    margin-top: 1rem;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    min-height: 3rem;
    display: flex;
}

.clearButton {
    position: absolute;
    top: 0.25rem;
    right: 0.85rem;
    z-index: 1;
}

.output {
    font-size: 0.75rem;
    color: #666;
    max-height: 7.5rem;
    padding: 0.5rem 2.25rem 0.5rem 0.75rem;
    margin: 0;
    overflow-y: auto;
    white-space: pre-wrap;
    flex-grow: 1;
}
