.root {
    position: relative;
    height: 100%;

    gap: 1rem;

    .left-menu {
        width: 15%;
        flex: none;

        overflow: hidden;
        height: 100%;
    }

    .content {
        position: relative;
        height: 100%;
        overflow-y: auto;
        overscroll-behavior: contain;

        border-radius: 0;
        padding-right: 7.25rem;
        padding-bottom: 7.5rem;
    }
}
