.root {
    height: 100%;

    gap: 1rem;

    .left-menu {
        width: 15%;
        flex: none;

        overflow: auto;
        height: 100%;
    }

    .content {
        height: 100%;
        overflow-y: auto;

        border-radius: 0;
    }
}
